GUI/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyApp.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyApp.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNhanvienDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhanvienDto" nillable="true" type="tns:NhanvienDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhanvienDto" nillable="true" type="tns:ArrayOfNhanvienDto" />
  <xs:complexType name="NhanvienDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gioitinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manhanvien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ngaysinh" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhanvienDto" nillable="true" type="tns:NhanvienDto" />
  <xs:complexType name="ArrayOfDuanDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DuanDto" nillable="true" type="tns:DuanDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDuanDto" nillable="true" type="tns:ArrayOfDuanDto" />
  <xs:complexType name="DuanDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diadiem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tenda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuanDto" nillable="true" type="tns:DuanDto" />
  <xs:complexType name="NhanvienDuanDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Diadiem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sogiocong" type="xs:int" />
      <xs:element minOccurs="0" name="Tenda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NhanvienDuanDto" nillable="true" type="tns:NhanvienDuanDto" />
  <xs:complexType name="ArrayOfNhanvienDuanDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NhanvienDuanDto" nillable="true" type="tns:NhanvienDuanDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNhanvienDuanDto" nillable="true" type="tns:ArrayOfNhanvienDuanDto" />
</xs:schema>