GUI/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50455/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyApp.DTO" />
  <xs:element name="Nhanvien_GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhanvien_GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="Nhanvien_GetAllResult" nillable="true" type="q1:ArrayOfNhanvienDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhanvien_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="dto" nillable="true" type="q2:NhanvienDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhanvien_InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhanvien_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="dto" nillable="true" type="q3:NhanvienDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhanvien_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhanvien_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhanvien_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Duan_GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Duan_GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="Duan_GetAllResult" nillable="true" type="q4:ArrayOfDuanDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Duan_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="dto" nillable="true" type="q5:DuanDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Duan_InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Duan_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="dto" nillable="true" type="q6:DuanDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Duan_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Duan_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Duan_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nvd_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="dto" nillable="true" type="q7:NhanvienDuanDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nvd_InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nvd_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="dto" nillable="true" type="q8:NhanvienDuanDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nvd_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nvd_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nvd_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nvd_GetReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nvd_GetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyApp.DTO" minOccurs="0" name="Nvd_GetReportResult" nillable="true" type="q9:ArrayOfNhanvienDuanDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>